<script setup lang="ts">
{{#if isGlobal}}
defineOptions({
  name: '{{ properCase name }}',
})
{{/if}}
</script>

<template>
  <div>
    <!-- 布局 -->
  </div>
</template>

<style scoped>
/* 样式 */
</style>
