<template>
    <div>
        <!-- 内容区 -->
    </div>
</template>

<script setup{{#if isGlobal}} name="{{ properCase name }}"{{/if}}>
// const { proxy } = getCurrentInstance()
</script>

<style lang="scss" scoped>
// scss
</style>
