<script setup lang="ts">
{{#if isGlobal}}
defineOptions({
  name: '{{ properCase name }}',
})
{{/if}}
</script>

<template>
  <div>
    <!-- 布局 -->
  </div>
</template>

<style lang="scss" scoped>
// 样式
</style>
