<template>
    <div>
        <!-- 内容区 -->
    </div>
</template>

<script>
export default {
    {{#if isGlobal}}
    name: '{{ properCase name }}',
    {{/if}}
    props: {},
    data() {
        return {}
    },
    mounted() {},
    methods: {}
}
</script>

<style lang="scss" scoped>
// scss
</style>
