{{#if isFilesystem}}
<route lang="yaml">
meta:
  title: 页面标题
</route>
{{/if}}

<script lang="ts" setup name="{{ properCase componentName }}">
// 逻辑代码
</script>

<template>
  <div>
    <!-- 布局 -->
  </div>
</template>

<style lang="scss" scoped>
// 样式
</style>
