<template>
    <div>
        <page-header title="{{ cname }}" />
        <page-main>
            页面内容区域
        </page-main>
    </div>
</template>

<script>
export default {
    name: '{{ properCase componentName }}',
    data() {
        return {}
    },
    mounted() {},
    methods: {}
}
</script>

<style lang="scss" scoped>
// scss
</style>
