<template>
    <div>
        <page-header title="{{ cname }}" />
        <page-main>
            页面内容区域
        </page-main>
    </div>
</template>

<script setup name="{{ properCase componentName }}">
// const { proxy } = getCurrentInstance()
// const router = useRouter()
// const route = useRoute()
// const store = useStore()
</script>

<style lang="scss" scoped>
// scss
</style>
