<script lang="ts" setup name="{{ properCase componentName }}">
// const proxy = useCurrentInstance()
// const router = useRouter()
// const route = useRoute()
</script>

<template>
  <div>
    页面内容区域
  </div>
</template>

<style lang="scss" scoped>
// scss
</style>
