// 【主区域】
// 背景色
$g-main-bg: #f0f2f5;
// 【头部】
// 背景色
$g-header-bg: #222b45;
// 文字颜色
$g-header-color: #fff;
// 导航文字颜色
$g-header-menu-color: #ccc;
// 导航鼠标悬浮文字颜色
$g-header-menu-hover-color: #fff;
// 导航鼠标悬浮背景色
$g-header-menu-hover-bg: #334067;
// 导航选中文字颜色
$g-header-menu-active-color: #fff;
// 导航选中背景色
$g-header-menu-active-bg: #334067;
// 【主侧边栏】
// 背景色
$g-main-sidebar-bg: #222b45;
// 菜单文字颜色
$g-main-sidebar-menu-color: #ccc;
// 菜单鼠标悬浮文字颜色
$g-main-sidebar-menu-hover-color: #fff;
// 菜单鼠标悬浮背景色
$g-main-sidebar-menu-hover-bg: #334067;
// 菜单选中文字颜色
$g-main-sidebar-menu-active-color: #fff;
// 菜单选中背景色
$g-main-sidebar-menu-active-bg: #334067;
// 【次侧边栏】
// 背景色
$g-sub-sidebar-bg: #fafafa;
// 菜单背景色
$g-sub-sidebar-menu-bg: darken(#fafafa, 7);
// 菜单文字颜色
$g-sub-sidebar-menu-color: #37414b;
// 菜单鼠标悬浮文字颜色
$g-sub-sidebar-menu-hover-color: #37414b;
// 菜单鼠标悬浮背景色
$g-sub-sidebar-menu-hover-bg: darken(#fafafa, 10);
// 菜单选中文字颜色
$g-sub-sidebar-menu-active-color: #e7f4ff;
// 菜单选中背景色
$g-sub-sidebar-menu-active-bg: #5482ee;
// 【导航标记】
// 背景色
$g-badge-bg: #f56c6c;
// 文字颜色
$g-badge-color: #fff;
// 边框颜色
$g-badge-border-color:#fff;
// 【标签栏】
// 背景色
$g-tabbar-bg: #f0f2f5;
// 分割线颜色
$g-tabbar-dividers-bg: #a9adb0;
// 标签文字颜色
$g-tabbar-tab-color: #999;
// 标签鼠标悬浮文字颜色
$g-tabbar-tab-hover-color: #999;
// 标签鼠标悬浮背景色
$g-tabbar-tab-hover-bg: #dee1e6;
// 标签选中文字颜色
$g-tabbar-tab-active-color: #97a8be;
// 标签选中背景色
$g-tabbar-tab-active-bg: #fff;
