/* 页面布局 CSS 变量 */
:root {
  /* 头部高度 */
  --g-header-height: 60px;

  /* 侧边栏宽度 */
  --g-main-sidebar-width: 80px;
  --g-sub-sidebar-width: 220px;
  --g-sub-sidebar-collapse-width: 64px;

  /* 侧边栏 Logo 区域高度 */
  --g-sidebar-logo-height: 50px;

  /* 标签栏高度 */
  --g-tabbar-height: 50px;

  /* 工具栏高度 */
  --g-toolbar-height: 50px;
}

/* 明暗模式 CSS 变量 */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --g-box-shadow-color: rgb(0 0 0 / 12%);

  &::view-transition-old(root),
  &::view-transition-new(root) {
    mix-blend-mode: normal;
    animation: none;
  }

  &::view-transition-old(root) {
    z-index: 1;
  }

  &::view-transition-new(root) {
    z-index: 9999;
  }

  &.dark {
    --g-box-shadow-color: rgb(0 0 0 / 72%);

    &::view-transition-old(root) {
      z-index: 9999;
    }

    &::view-transition-new(root) {
      z-index: 1;
    }
  }
}

body:not([data-os="macOS"]) {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary) / 30%);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary) / 50%);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

* {
  border-color: hsl(var(--border));
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-family);
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  -webkit-tap-highlight-color: transparent;

  &.overflow-hidden {
    overflow: hidden;
  }
}

#app {
  height: 100%;
}

/* textarea 字体跟随系统 */
textarea {
  font-family: inherit;
}

/* Overrides OverlayScrollbars */
[data-overlayscrollbars-contents] {
  overscroll-behavior: contain;
}

.os-scrollbar {
  --os-handle-bg: hsl(var(--primary) / 30%);
  --os-handle-bg-hover: hsl(var(--primary) / 40%);
  --os-handle-bg-active: hsl(var(--primary) / 50%);
}
