@use "./themes.scss";
@use "./element-plus/index.scss";

// 全局变量
:root {
  // 头部宽度（默认自适应宽度，可固定宽度，固定宽度后为居中显示）
  --g-header-width: 100%;
  // 头部高度
  --g-header-height: 70px;
  // 侧边栏宽度
  --g-main-sidebar-width: 70px;
  --g-sub-sidebar-width: 220px;
  // 侧边栏Logo高度
  --g-sidebar-logo-height: 50px;
  // 顶栏高度
  --g-topbar-height: 50px;
}
// 全局样式
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 40%);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-tap-highlight-color: transparent;

  &.overflow-hidden {
    overflow: hidden;
  }
}

* {
  box-sizing: inherit;
}
// 右侧内容区针对fixed元素，有横向铺满的需求，可在fixed元素上设置 [data-fixed-calc-width]
[data-fixed-calc-width] {
  position: fixed;
  left: 50%;
  right: 0;
  width: calc(100% - var(--g-main-sidebar-actual-width) - var(--g-sub-sidebar-actual-width));
  transform: translateX(-50%) translateX(calc(var(--g-main-sidebar-actual-width) / 2)) translateX(calc(var(--g-sub-sidebar-actual-width) / 2));
}

[data-mode="mobile"] {
  [data-fixed-calc-width] {
    width: 100% !important;
    transform: translateX(-50%) !important;
  }
}
// textarea 字体跟随系统
textarea {
  font-family: inherit;
}
// 列表页全局样式
.el-table.list-table {
  margin: 20px 0;

  .el-button + .el-dropdown {
    margin-left: 10px;
  }
}

.el-loading-mask {
  z-index: 900 !important;
}
