.example-icon {
  font-size: 48px;
}

.test1 {
  font-size: 24px;

  .a {
    width: 100px;
    height: 100px;
    background-color: #000;
  }
}

.test2 {
  font-size: 24px;

  .a {
    width: 100px;
    height: 100px;
    background-color: #ff0;
  }
}
